<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Рюкзак Впечатлений</h2>
                    <p>Походы и сплавы в Подмосковье. Путешествия по России и другим уголкам Земли.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Направления</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Россия</a></li>
                        <li><a href="#" class="py-2 d-block">Узбекистан</a></li>                        
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Виды туров</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Сплавы</a></li>
                        <li><a href="#" class="py-2 d-block">Походы</a></li>
                        <li><a href="#" class="py-2 d-block">Путешествия</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Контактная информация</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Москва, Севастополький проспект 3, корпус 2</a></li>
                        <li><a href="#" class="py-2 d-block">+7-964-796-13-29</a></li>
                        <li><a href="#" class="py-2 d-block">r.m.murtazin@mail.ru</a></li>
                        <li><a href="#" class="py-2 d-block">Skype: imba.0ps</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
                        <li class="ftco-animate"><a href="https://vk.com/rukzak_vpechatleniy" target="_blank"><span class="icon-vk"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/RukzakV/" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/rafael_murtazin1988/" target="_blank"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="m-0">                   
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> <a href="https://vk.com/rukzak_vpechatleniy" target="_blank"> | Рюкзак впечатлений</a>                  
                </p>
            </div>
        </div>
    </div>
</footer>
