
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/Voyager/Index">
            <img src="~/Static/img/logo_white_long.png" alt="Рюкзак Впечатлений" style="width:200px;" class="logo-white"/>
            <img src="~/Static/img/logo_color.png" alt="Рюкзак Впечатлений" style="width:200px;" class="logo-color"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Меню
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/Voyager/Index" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="/Voyager/Tours" class="nav-link">Туры</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Блог</a></li>
                <li class="nav-item"><a href="/Voyager/About" class="nav-link">О нас</a></li>
                <li class="nav-item"><a href="/Voyager/Contacts" class="nav-link">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->