
@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Voyager/_Layout.cshtml";
}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('/Static/thems/voyager/images/contact.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Контакты</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<section class="ftco-section contact-section contact-us-bg">
    <div class="container">
        <div class="row block-9 mb-4">
            <div class="col-md-12">
                <div class="row d-block flex-row">
                    <h2 class="conatcts-title mb-4">Контактная информация</h2>
                    <div class="mb-3 contacts-block">
                        <div class="align-self-center d-flex align-items-center">
                            <div style="background-color:#ffffff;padding: 7px 16px;border-radius: 30px;">
                                <i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>                            
                            </div>
                            <div class="text-white ml-3 contacts-item">
                                Москва, Севастополький проспект 3, корпус 2
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 contacts-block">
                        <div class="align-self-center d-flex align-items-center">
                            <div style="background-color:#ffffff;padding: 7px 13px;border-radius: 30px;">
                                <i class="fa fa-2x fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text-white ml-3 contacts-item">
                                +7-964-796-13-29
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 contacts-block">
                        <div class="align-self-center d-flex align-items-center">
                            <div style="background-color:#ffffff;padding: 7px 11px;border-radius: 30px;">
                                <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="text-white ml-3 contacts-item">
                                r.m.murtazin@mail.ru
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 contacts-block">
                        <div class="align-self-center d-flex align-items-center">
                            <div style="background-color:#ffffff;padding: 7px 11px;border-radius: 30px;">
                                <i class="fa fa-2x fa-skype" aria-hidden="true"></i>
                            </div>
                            <div class="text-white ml-3 contacts-item">
                                imba.0ps
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 mb-4">
            <div class="col-md-12">
                <h2 class="conatcts-title mb-4">Обратная связь</h2>
                <form action="#" style="font-family: ondine;font-size: 17px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Адрес электронной почты">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Тема">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Сообщение"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Отправить сообщение" class="btn btn-primary py-3 px-5" style="font-size:20px;">
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.773991441799!2d37.60771331604461!3d55.69291700407643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b5800de286d%3A0xf82807208bb0fb62!2z0KHQtdCy0LDRgdGC0L7Qv9C-0LvRjNGB0LrQuNC5INC_0YAuLCAzINC60L7RgNC_0YPRgSAyLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTE3MTUy!5e0!3m2!1sru!2s!4v1579381304804!5m2!1sru!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <link href="~/Static/thems/voyager/fonts/ondine/font-ondine.css" rel="stylesheet" />
}

