@using DAL.Models;
@model List<Trip>

@{
    ViewBag.Title = "Туры";
    Layout = "~/Views/Voyager/_Layout.cshtml";
}


<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">                   
                    <h1 class="mb-3">Туры</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var trip in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4 ftco-animate">
                    <a href="#" class="block-5" style="background-image: url('images/tour-1.jpg');">
                        <div class="text">
                            <span class="price">@trip.Price.Value.ToString("#") руб</span>
                            <h3 class="heading">@trip.Name</h3>
                            <div class="post-meta">
                                <span>Ameeru Ahmed Magu Male’, Maldives</span>
                            </div>
                            <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>