<div class="modal-header">
    <h3 class="modal-title">Confirm modal</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{text}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="closeModal('No')">No</button>
    <button type="button" class="btn btn-outline-danger" (click)="closeModal('Yes')">Yes</button>
</div>