body {
    padding:0;
    margin:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.general-title-section {
    background-image: none;
    height: 100vh;
}

.video-full {
    height: 100%;
    object-fit: cover;
    min-width: 100%;
}
.general-title-block {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center !important;
    height: 100vh;
}

.general-title {
    font-size: 52px;
    font-family: Metropolis-ExtraBold;
    margin: 0 auto;
    text-transform: uppercase;
    color: #ffffff;
}