@{
    ViewBag.Title = "Home Page";
}

<section class="general-title-section">
    <video autoplay loop muted class="video-full" poster="~/static/images/general/banner.jpg" style="height:100%;">
        <source src="~/static/videos/tarusa.mp4" type="video/mp4">
    </video>
    <div class="general-title-block">
        <h1 class="general-title text-center">
            The leading company in medical billing, <br />
            software development and credentialing. <br />
            est. 2001
        </h1>
    </div>
</section>